*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  padding: 2rem;
}
.header {
  background-image: linear-gradient(to right, rgba(0, 128, 0, 0.521), rgba(144, 238, 144, 0.548)), url(../img/hero.jpg) ;
  background-size: cover;
  background-position: top;
  height: 95vh;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}

.logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;  
}

.logo {
  height: 3.5rem;
}

.text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;
}

.heading-primary-main {
  display: block;
  letter-spacing: 3.5rem;
  font-size: 6rem;
  font-weight: 400;
  animation: moveInLeft 2s ease-in-out;
}

.heading-primary-sub {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1.7rem;
  display: block;
  animation: moveInRight 2s ease-in-out;
}


/* Animations */

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }
  
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Buttons */

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  font-size: 1.4rem;
  border-radius: 5rem;
  transition: all .3s;
  position: relative;
} 

.btn:hover {
  transform: translateY(-.5rem);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.452);
}

.btn:active {
  transform: translateY(.2rem);
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.452);
}

.btn-white {
  background-color: white;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5rem;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after {
  background-color: white;
}

.btn-white:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated {
  animation: moveInBottom .5s ease-out 1s;
  animation-fill-mode: backwards;
}
