*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-image: linear-gradient(to right, rgba(0, 128, 0, 0.521), rgba(144, 238, 144, 0.548)), url(../Natours/img/hero.jpg) ;
  background-size: cover;
  background-position: top;
  height: 95vh;
}